@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
  margin: 0;
  padding: 0;
}

/* BODY-PART */
#tech{
  color: white;
}
#wave{
  background: linear-gradient(150deg,#F7E93F,#FB09B4 ,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1A0B2E;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0.8;
    transition: 0.3s;
}
.nav-links a:hover {
    opacity: 1;
}
.btn{
  align-items: center;
  justify-content: center;
  color: white;
  width: 135px;
  height: 44px;
  padding: 12px 16px 12px 16px;
  border-radius: 10000px;
  font-size: 16px;
  line-height: 19px;
  border: none;
  cursor: pointer;
  background: linear-gradient(150deg,#F7E93F,#FB09B4,#9100F8);
}
.btn:hover{
  background:#a851ea;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
